body{
    background-color: teal;
    font-family:  "Georgia";
    background-image: url("concrete_seamless: png;");
    background-repeat: repeat;
}
.navbar{
    min-height: 75px;
    
}
.navbar-light .navbar-brand{
    color: white;
    height: 100%;
    min-height: 50px;
    top:0;
    font-size: 30px;
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-nav{
    font-family: Arial;
}
.background {
    background: linear-gradient(180deg, #dff79c,#b8d7ff 10%, #fcb6ee 15%, #ffbb94 23%, #ff8205 35%);

}
h1{
    color: black;
}
.figure{
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
}
.figure-caption{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.image-caption{
    font-size: 18px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer{
    background-color: var(--grey);
    position: relative;
}
.footer:before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    top:0;
    height: 8px;
    background-color: teal;
}

.btn-primary{
    background-color: teal ;
}